//menu button
.menu-btn{
    position: absolute;
    z-index: 3;
    right: 35px;
    top:35px;
    cursor: pointer;
    @include easeOut;

    .btn-line{
        width: 28px;
        height: 3px;
        margin: 0 0 5px 0;
        background: #fff;
        @include easeOut;
    }

    //Rotating the 3 lines to a cross
    &.close{
        transform: rotate(180deg);
        .btn-line{
            //Line 1 has to rotate
            &:nth-child(1){
                transform: rotate(45deg) translate(4px,5px);
            }

            //Line 2 will vanish
            &:nth-child(2){
                opacity: 0;
            }

            //Line 3 has to rotate
            &:nth-child(3){
                transform: rotate(-45deg) translate(6px,-7px);
            }
        }
    }
}

//Menu overlay

.menu{
    position: fixed;
    top: 0px;
    width: 100%;
    visibility: hidden;
    
    &.show{
        //opacity: 0.85;
        visibility: visible;
    }

    &-branding, &-nav{
        //opacity: 0.85;
        display: flex;
        flex-flow: column wrap;
        align-items: center;
        justify-content: center;
        float: left;
        width: 50%;
        height: 100vh;
        overflow: hidden;
    }

    &-nav{
        margin: 0;
        padding: 0;
        background: darken($primary-color, $amount: 4);
        list-style: none;
        //opacity: 0.85;
        transform: translate3d(0, -100%, 0);
        @include easeOut;

        //Sliding in from the top
        &.show{
            opacity: 0.98;
            transform: translate3d(0, 0, 0);
        }
    }

    &-branding{
        background: $primary-color;
        @include easeOut;
        opacity: 0.98;
        transform: translate3d(0, 100%, 0);

        //Sliding in from the bottom
        &.show{
            transform: translate3d(0, 0, 0);
        }

        .portrait{
            width: 250px;
            height: 250px;
            background: url('../img/self.jpg');
            border-radius: 50%;
            border: solid $secondary-color 3px;
        }
    }

    .nav-item{
        transform: translate3d(600px, 0, 0);
        @include easeOut;

        &.show{
            //bringing it from the right 
            transform: translate3d(0, 0, 0);
        }

        &.current > a{
            color: $secondary-color;
        }
    }

    .nav-link{
        display: inline-block;
        position: relative;
        font-size: 30px;
        text-transform: uppercase;
        padding: 1rem 0;
        font-weight: 300;
        color: #fff;
        text-decoration: none;
        @include easeOut;

        &:hover{
            color: $secondary-color;
        }
    }
}


//Delaying the sliding by 0.5 sec

@for $x from 1 through 4 {
    .nav-item:nth-child(#{$x}){
        transition-delay: $x * 0.1s;
    }
}