@import 'config';
@import 'menu';

.toggle-mode-dark {
    $primary-color: #444;
}

.toggle-mode-white {
    $primary-color: #fff;
}

* {
    box-sizing: border-box;
}

body {
    @include background;
    background-color: $primary-color;
    color: set-text-color($primary-color);
    height: 100vh;
    margin: 0px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    line-height: 1.5;
}

//headings
h1,
h2,
h3 {
    margin: 0px;
    font-weight: 400;

    &.lg-heading {
        font-size: 6rem;
    }

    &.sm-heading {
        margin-bottom: 2rem;
        padding: 0.2rem 1rem;
        background: rgba(lighten($primary-color, 2), 0.5);
    }
}

a {
    color: #fff;
    text-decoration: none;
}

header {
    position: fixed;
    z-index: 2;
    width: 100%;
}

.text-secondary {
    color: $secondary-color;
}

main {
    padding: 4rem;
    //height: 100%;
    min-height: calc(100% - 60px);

    &#home {
        overflow: hidden;

        h1 {
            margin-top: 20vh;
        }
    }

    .icons {
        margin-top: 1rem;

        a {
            color: set-text-color($primary-color);
            padding: 0.4rem;

            &:hover {
                color: $secondary-color;
                @include easeOut();
            }
        }
    }
}

#About{
    padding: 0rem 3rem !important;
}

.about-info {
    display: grid;
    gap: 30px;
    grid-template-areas:
        'bioimage bio bio'
        'job1 job2 job3';
    grid-template-columns: repeat(3, 1fr);

    .bio-image {
        grid-area: bioimage;
        margin: auto;
        border: $secondary-color solid;
        border-radius: 50%;
    }

    .bio {
        grid-area: bio;
        font-size: 1.5rem;
    }

    .job-1 {
        grid-area: job1;
    }

    .job-2 {
        grid-area: job2;
    }

    .job-3 {
        grid-area: job3;
    }

    .job {
        background: lighten($color: $primary-color, $amount: 5);
        border-bottom: $secondary-color 5px solid;
        padding: 0.5rem;
    }
}

#main-footer{
    text-align: center;
    padding: 1rem;
    background: darken($color: $primary-color, $amount: 10);
    color: set-text-color($primary-color);
    height: 60px;
}


@import 'mobile';